<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

<!-- TOP NAV -->
<header id="topNav">
    <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Logo -->
        <a class="logo float-left scrollTo" href="#top">
            <img src="assets/images/R2.png" alt="" />
        </a>

        <!-- 
            Top Nav 
            
            AVAILABLE CLASSES:
            submenu-dark = dark sub menu
        -->
        <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
            <nav class="nav-main">

                <!-- 
                    .nav-onepage
                    Required for onepage navigation links
                    
                    Add .external for an external link!
                -->
                <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                    <li class="active"><!-- HOME -->
                        <a id="home-nav" href="#top">
                            HOME
                        </a>
                    </li>
                    <li><!-- SERVICES -->
                        <a id="services-nav" href="#services" class="dropdown-toggle">
                            SERVICES
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="residential.html">Residential View</a></li>
                            <li><a href="commercial.html">Commercial View</a></li>
                            <li><a href="quote.html">Get a Quote</a></li>
                        </ul>
                    </li>
                    <li><!-- PORTFOLIO -->
                        <a id="portfolio-nav" href="#portfolio">
                            PORTFOLIO
                        </a>
                    </li>
                    <li><!-- NEWS -->
                        <a id="news-nav" href="#news">
                            NEWS
                        </a>
                    </li>
                    <li><!-- CLIENTS -->
                        <a id="clients-nav" href="#clients">
                            CLIENTS
                        </a>
                    </li>
                    <li><!-- CONTACT -->
                        <a id="contact-nav" href="#contact">
                            CONTACT
                        </a>
                    </li>
                </ul>

            </nav>
        </div>

    </div>
</header>
<!-- /Top Nav -->

</div>






<hr class="m-0" /><!-- 1px line separator -->







<!-- Testimonials -->
<section id="team" class="section-xs dark">
<div class="container">

    <div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
        <div id="CEO" class="testimonial">
            <figure>
                <img class="rounded" src="assets/images/testimonial/CEO.PNG" alt="CEO" />
            </figure>
            <div class="testimonial-content p-0">
                <p class="lead">CEO of Rocket Elevators</p>
                <cite>
                    Patrick THibault
                    <span>CEO</span>
                </cite>
            </div>
        </div>
        <div id="employee" class="testimonial">
            <figure>
                <img class="rounded" src="assets/images/testimonial/employee-of-the-month.PNG" alt="Employee of the Month" />
            </figure>
            <div class="testimonial-content p-0">
                <p class="lead">Full-Stack Software Developer</p>
                <cite>
                    Shaphan Charles
                    <span>Employee of the Month</span>
                </cite>
            </div>
        </div>
    </div>

</div>
</section>
<!-- /Testimonials -->





<!-- News -->
<section id="news">
<div class="container">

    <div class="heading-title heading-dotted text-center">
        <h2>Recent News</h2>
    </div>

    <!-- 
        controlls-over		= navigation buttons over the image 
        buttons-autohide 	= navigation buttons visible on mouse hover only
        
        data-plugin-options:
            "singleItem": true
            "autoPlay": true (or ms. eg: 4000)
            "navigation": true
            "pagination": true
            "items": "4"

        owl-carousel item paddings
            .owl-padding-0
            .owl-padding-3
            .owl-padding-6
            .owl-padding-10
            .owl-padding-15
            .owl-padding-20
    -->
    <div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
        <div class="img-hover">
            <a target="_blank" href="https://www.independent.co.uk/news/world/americas/man-saved-woman-s-life-pushing-her-out-falling-elevator-block-flats-manhattan-a6793816.html">
                <img style="height: 200px; width: 350px;" class="img-fluid" src="assets/images/news/life_saved.png" alt="falling">
            </a>

            <h4 class="text-left mt-20"><a target="_blank" href="https://www.independent.co.uk/news/world/americas/man-saved-woman-s-life-pushing-her-out-falling-elevator-block-flats-manhattan-a6793816.html">Falling Elevator</a></h4>
            <p class="text-left">"Man saved woman's life by pushing her out of falling elevator."</p>
            <ul class="text-left fs-12 list-inline list-separator">
                <li>
                    <i class="fa fa-calendar"></i> 
                    May 2nd, 2016
                </li>
            </ul>
        </div>
        <div class="img-hover">
            <a target="_blank" href="https://elevatortoday.com/2014/09/14/dirtiest-place-hospitals-elevator-buttons/">
                <img style="height: 200px; width: 350px;" class="img-fluid" src="assets/images/news/dirtiest.jpg" alt="new normal">
            </a>

            <h4 class="text-left mt-20"><a target="_blank" href="https://elevatortoday.com/2014/09/14/dirtiest-place-hospitals-elevator-buttons/">Dirty Elevator Buttons</a></h4>
            <p class="text-left">Hospital buttons might be the dirtiest places in a hospital.</p>
            <ul class="text-left fs-12 list-inline list-separator">
                <li>
                    <i class="fa fa-calendar"></i> 
                    Sep 14th, 2014
                </li>
            </ul>
        </div>
        <div class="img-hover">
            <a target="_blank" href="https://www.ctvnews.ca/health/coronavirus/new-normal-elevators-moving-touchless-mobile-and-sideways-1.5045643">
                <img style="height: 200px; width: 350px;" class="img-fluid" src="assets/images/news/touchless.jpg" alt="touchless">
            </a>

            <h4 class="text-left mt-20"><a target="_blank" href="https://www.ctvnews.ca/health/coronavirus/new-normal-elevators-moving-touchless-mobile-and-sideways-1.5045643">New Normal</a></h4>
            <p class="text-left">Using touchless, sideways and mobile to move elevators.</p>
            <ul class="text-left fs-12 list-inline list-separator">
                <li>
                    <i class="fa fa-calendar"></i> 
                    Jul 31th, 2020
                </li>
            </ul>
        </div>
        <div class="img-hover">
            <a target="_blank" href="https://www.independent.co.uk/news/world/americas/elevator-dog-video-rescue-leash-pomeranian-twitter-a9244431.html">
                <img style="height: 200px; width: 350px;" class="img-fluid" src="assets/images/news/dog_rescue.png" alt="rescue">
            </a>

            <h4 class="text-left mt-20"><a target="_blank" href="https://www.independent.co.uk/news/world/americas/elevator-dog-video-rescue-leash-pomeranian-twitter-a9244431.html">Man rescues Dog</a></h4>
            <p class="text-left">"Dog's leash get caught in elevator doors."</p>
            <ul class="text-left fs-12 list-inline list-separator">
                <li>
                    <i class="fa fa-calendar"></i> 
                    Dec 12th, 2019
                </li>
            </ul>
        </div>
        <div class="img-hover">
            <a target="_blank" href="https://elevatortoday.com/2013/04/19/the-worlds-most-unusual-elevators/">
                <img style="height: 200px; width: 350px;" class="img-fluid" src="assets/images/news/unusual.jpg" alt="unusual">
            </a>
            <h4 class="text-left mt-20"><a target="_blank" href="https://elevatortoday.com/2013/04/19/the-worlds-most-unusual-elevators/">Unusual Elevators</a></h4>
            <p class="text-left">"The world's most unusual elevators.<"/p>
            <ul class="text-left fs-12 list-inline list-separator">
                <li>
                    <i class="fa fa-calendar"></i> 
                    Apr 19th, 2013
                </li>
            </ul>
        </div>
        <div class="img-hover">
            <a target="_blank" href="https://elevatortoday.com/2020/03/03/thyssenkrupp-sells-elevator-technology-business-for-e17-2-billion/">
                <img style="height: 200px; width: 350px;" class="img-fluid" src="assets/images/news/thyssenkrupp-headquaters.jpg" alt="sold">
            </a>
            <h4 class="text-left mt-20"><a target="_blank" href="https://elevatortoday.com/2020/03/03/thyssenkrupp-sells-elevator-technology-business-for-e17-2-billion/">ThyssenKrupp for sale</a></h4>
            <p class="text-left">"ThyssenKrupp sells it's business for 17.2 billion euro."</p>
            <ul class="text-left fs-12 list-inline list-separator">
                <li>
                    <i class="fa fa-calendar"></i> 
                    Mar 3rd, 2020
                </li>
            </ul>
        </div>
    </div>

</div>
</section>
<!-- /News -->




<!-- Clients -->
<section id="clients" class="alternate">
<div class="container">

    <div class="heading-title heading-dotted text-center">
        <h2>Our Customers</h2>
    </div>

    <ul class="row clients-dotted list-inline">
        <li class="col-md-3 col-sm-3 col-6">
            <a >                
                <%= image_tag("logos/cisco_logo.png", width: 200) %>     
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-6">
            <a >
                <%= image_tag("logos/concordia_logo.png", width: 200) %>     
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-6">
            <a >
                <img class="img-fluid" src="assets/images/logos/mcgill_logo.png" alt="mcgill_logo" />
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-6">
            <a >
                <img class="img-fluid" src="assets/images/logos/microsoft_logo.png" alt="microsoft_logo" />
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-6">
            <a >
                <img class="img-fluid" src="assets/images/logos/muhc_logo.png" alt="muhc_logo" />
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-6">
            <a >
                <img class="img-fluid" src="assets/images/logos/Walmart_logo.jpg" alt="Walmart_logo" />
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-6">
            <a >
                <img class="img-fluid" src="assets/images/logos/bmo_logo.png" alt="bmo_logo" />
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-6">
            <a >
                <img class="img-fluid" src="assets/images/logos/cbc_logo.jpg" alt="cbc_logo" />
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-6">
            <a >
                <img class="img-fluid" src="assets/images/logos/bell_logo.png" alt="bell_logo" />
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-6">
            <a >
                <img class="img-fluid" src="assets/images/logos/videotron_logo.jpg" alt="videotron_logo" />
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-6">
            <a >
                <img style="height: 200px;" class="img-fluid" src="assets/images/logos/marriott_logo.png" alt="marriott_logo" />
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-6">
            <a >
                <img class="img-fluid" src="assets/images/logos/h_inn_logo.png" alt="h_inn_logo" />
            </a>
        </li>						
    </ul>

</div>
</section>
<!-- /Clients -->




<!-- CONTACT -->
<section id="contact">
<div class="container">

    <header class="text-center mb-60">
        <h2>Contact Us</h2>
        <p class="lead font-lato"></p>
        <hr />
    </header>


    <div class="row">

        <!-- FORM -->
        <div class="col-md-8 col-sm-8">

            <h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>

            
            <!--
                MESSAGES
                
                    How it works?
                    The form data is posted to php/contact.php where the fields are verified!
                    php.contact.php will redirect back here and will add a hash to the end of the URL:
                        #alert_success 		= email sent
                        #alert_failed		= email not sent - internal server error (404 error or SMTP problem)
                        #alert_mandatory	= email not sent - required fields empty
                        Hashes are handled by assets/js/contact.js

                    Form data: required to be an array. Example:
                        contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
                        Also, add `required` to input fields if is a mandatory field. 
                        Example: <input required type="email" value="" class="form-control" name="contact[email][required]">

                    PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
                                 ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP

                    WARNING! Do not change the `email` and `name`!
                                contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
                                contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
            -->

            <!-- Alert Success -->
            <div id="alert_success" class="alert alert-success mb-30">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Thank You!</strong> Your message successfully sent!
            </div><!-- /Alert Success -->


            <!-- Alert Failed -->
            <div id="alert_failed" class="alert alert-danger mb-30">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>[SMTP] Error!</strong> Internal server error!
            </div><!-- /Alert Failed -->


            <!-- Alert Mandatory -->
            <div id="alert_mandatory" class="alert alert-danger mb-30">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Sorry!</strong> You need to complete all mandatory (*) fields!
            </div><!-- /Alert Mandatory -->


            <form>
                <fieldset>
                    <input type="hidden" name="action" value="contact_send" />

                    <div class="row">
                        <div class="col-md-4">
                            <label for="contact:name">Contact Full Name *</label>
                            <input id="name" required type="text" value="" class="form-control" name="contact[name][required]">
                        </div>
                        <div class="col-md-4">
                            <label for="contact:email">E-mail Address *</label>
                            <input id="email" required type="email" value="" class="form-control" name="contact[email][required]">
                        </div>
                        <div class="col-md-4">
                            <label for="contact:phone">Phone Number</label>
                            <input id="phone" type="text" value="" class="form-control" name="contact[phone]">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="contact:company_name">Business Name</label>
                            <input id="company_name" type="text" value="" class="form-control" name="contact[company_name]">
                        </div>
                        <div class="col-md-6">
                            <label for="contact:project_name">Project Name</label>
                            <input id="project_name" type="text" value="" class="form-control" name="contact[project_name]">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label for="contact:project_description">Project Description *</label>
                            <input id="project_description" required type="text" value="" class="form-control" name="contact[project_description][required]">
                        </div>
                        <div class="col-md-4">
                            <label for="contact_department">Department</label>
                            <select id="department" class="form-control pointer" name="contact[department]">
                                <option value="">--- Select ---</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Sales">Sales</option>
                                <option value="Management">Management</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="contact:message">Message *</label>
                            <textarea id="message" required maxlength="10000" rows="8" class="form-control" name="contact[message]"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="contact:attachment">File Attachment</label>

                            <!-- custom file upload -->
                            <input id="attachment" class="custom-file-upload" type="file" name="contact[attachment]" data-btn-text="Select a File" />
                            <small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

                        </div>
                    </div>

                </fieldset>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
                    </div>
                </div>
            </form>

        </div>
        <!-- /FORM -->


        <!-- INFO -->
        <div class="col-md-4 col-sm-4">

            <h2>Visit Us</h2>

            <!-- 
            Available heights
                h-100
                h-150
                h-200
                h-250
                h-300
                h-350
                h-400
                h-450
                h-500
                h-550
                h-600
            -->
            <div id="map">
                <iframe width="300" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" 
                src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=4468%20wellington%20st%20suite%20204%20verdun+(codeboxx%20)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                </iframe> 
            </div>

            <hr />

            <p>
                <span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 4468 Wellington St Suite 204, Verdun, Quebec H4G 1W5</span>
                <span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:418-555-1234">(418) 555-1234</a></span>
                <span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span>
            </p>

        </div>
        <!-- /INFO -->

    </div>

</div>
</section>
<!-- /CONTACT -->




<!-- FOOTER -->
<footer id="footer">
<div class="container">


    <div class="row">

        <!-- col #1 -->
        <div class="col-md-8">

            <h3 class="letter-spacing-1">WHY US?</h3>

            <!-- Small Description -->
            <p>
                We have the conviction that we create the most innovative and reliable products on the market. 
                Contact us today for any questions you might have.
            </p>
            <h2>(418) 555-1234</h2>
        </div>
        <!-- /col #1 -->


    </div>


</div>

<div class="copyright">
    <div class="container">
        <ul class="float-right m-0 list-inline mobile-block">
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li>&bull;</li>
            <li><a href="#">Privacy</a></li>
        </ul>
        &copy; All Rights Reserved, Company LTD
    </div>
</div>

</footer>
<!-- /FOOTER -->

</div>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>
