<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<section>
<div class="container">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <div style="font-size: larger heading-title text-center">
        <h1 id="underline" >Get a Quote</h1>
            <div class="row justify-content-around">
                <div id="lined" class="col-md-6 col-sm-6 solid">
                    <h2 id="underline" style="text-align: center; margin-bottom: 20px; margin-top:20px;">Building Information</h2>

                    <div style="text-align:left;" id="formSelect"> <!--enctype="multipart/form-data"-->
                        <label for="contact_type">Building Type:</label>
                        <select id="building-type" class="form-control pointer">
                            <option value="" selected="selected" >Choose Building Type</option>
                            <option id="residential" value="residential" >Residential</option>
                            <option id="commercial" value="commercial" >Commercial</option>
                            <option id="corporate" value="corporate" >Corporate</option>
                            <option id="hybrid" value="hybrid" >Hybrid</option>
                        </select>
                        


                        <form id="buildingForm" class="form-field" method="post">
                            <!-- Residential-->
                            <div id="number-of-apartments" name="number-of-apartments" style="display:none" class="form-field residential">
                                <label class="fs-6">The number of apartments in the building*</label>
                                <input class="data" type="number" id="numApart" min="1" name="numApart"  required>
                            </div>
                            
                            <div id="number-of-floors" style="display:none" class="form-field residential">
                                <label class="fs-6">The number of floors contained in the building*</label>
                                <input class="data" type="number" id="numFloor" name="numFloor" min="1"  required>
                            </div>

                            <div id="number-of-basements" style="display:none" class="form-field residential">
                                <label class="fs-6">The number of basements contained in the building*</label>
                                <input class="data" type="number" id="numBase" name="numBase" min="1" >
                            </div>
                            
                            <!-- Commercial-->
                            <div id="number-of-companies" style="display:none" class="form-field commercial">
                                <label class="fs-6">The number of distinct businesses</label>
                                <input class="data" type="number" id="numBusi" min="1" name="numBusi" >
                            </div>


                            <div id="number-of-parking-spots" style="display:none" class="form-field commercial">
                                <label class="fs-6">The number of parking space available</label>
                                <input class="data" type="number" id="numPark" min="1" name="numPark" >
                            </div>

                            <div id="number-of-elevators" style="display:none" class="form-field commercial">
                                <label class="fs-6">The number of elevator cages to be deployed*</label>
                                <input class="data" type="number" id="numCage" min="1" name="numCage"  required>
                            </div>
                            

                            <!-- Corporate-->
                            <div id="number-of-corporations" style="display:none" class="form-field corporate">
                                <label class="fs-6">The number of separate tenant companies</label>
                                <input class="data" type="number" id="numCorp" name="numCorp" min="1" >
                            </div>

                            <div id="maximum-occupancy" style="display:none" class="form-field corporate">
                                <label class="fs-6">The maximum number of occupants per floor*</label>
                                <input class="data" type="number" id="occpFloor" name="occpFloor" min="1"  required>
                            </div>
                    
                            <!-- Hybrid-->
                            <div id="business-hours" style="display:none" class="form-field hybrid">
                                <label class="fs-6">The number of hours of activity of the building (the maximum being 24)</label>
                                <input class="data" type="number" id="numHour" name="numHour" min="1" max="24" >
                            </div>
                                
                            <div id="productLine" class="form-field hybrid"><br>
                                <p id="underline" style="font-weight: bold">Product Line</p>
                                <input type="radio" id="standard" name="product" value="standard">
                                <label class="inline" for="standard">Standard</label><br>
                                <input type="radio" id="premium" name="product" value="premium">
                                <label class="inline" for="premium">Premium</label><br>
                                <input type="radio" id="excelium" name="product" value="excelium">
                                <label class="inline" for="excelium">Excelium</label>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SUBMIT</button>
                                </div>
                            </div>
                            
                        </form>
                        <br>
                    </div>	

                </div>

                <!--This is the Estimate Box-->
                <div style="text-align:left;" class="col-md-5 col-sm-5 solid">
                    <h2 id="underline" style="text-align:center; margin-bottom: 20px; margin-top:20px;">Estimate</h2>

                    <div id="elevator-amount">
                        <label style="font-weight: bolder;">Total Number of Elevators Needed: </label>
                        <input class="data" type="number" id="result0" placeholder="0" readonly>	
                    </div>

                    <!--The input TYPEs need to be text in order to pass in the Resulting information-->
                    <div id="elevator-unit-price">
                        <label value="">Unit Price for each Elevator:</label>
                        <input class="data" type="text" id="result1" placeholder="$0.00" readonly>
                    </div>                                    
                    
                    <div id="elevator-total-price">
                        <label>Total Price of the Elevators:</label>
                        <input class="data" type="text" id="result2" placeholder="$0.00" readonly>
                    </div>

                    <div id="installation-fees">
                        <label>Installation Fees:</label>
                        <input class="data" type="text" id="result3" placeholder="$0.00" readonly>
                    </div>

                    <div id="final-price">
                        <label style="font-weight: bolder;" id="final-price">Final Price:</label>
                        <input class="data" type="text" id="result4" placeholder="$0.00" readonly>
                    </div>
                    <!--<p id="result5">Number of Columns: </p>
                    <p id="result6">Number of Elevators per Column: </p>-->
                    
                </div>
            </div>
    </div>
</div>
</section>