<p id="notice"><%= notice %></p>

<p>
  <strong>Quoteid:</strong>
  <%= @fact_quote.quoteid %>
</p>

<%= link_to 'Edit', edit_fact_quote_path(@fact_quote) %> |
<%= link_to 'Back', fact_quotes_path %>
